.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 95%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
   
}
tbody{
    display: block;
    /* width: 100%; */
    /* overflow-y: scroll; */
    overflow: auto;
    height: 500px
}
/* 
tbody {
    height: 200px;
    overflow-y: scroll;
    
} */

.styled-table thead tr {
    background-color: blueviolet;
    color: #ffffff;
    text-align: left;
    display: block;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
    width: 200px;
    
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid blueviolet;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: blueviolet;
}
